<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <ul class="logo-container">
          <li>
            <a href="/">
              <div class="logo">
                <img src="../assets/logo.png" alt="" />
                <div class="game-store">
                  <p>GAME</p>
                  <p>STORE</p>
                </div>
              </div>
            </a>
          </li>
          <li><a href="" class="support">Support</a></li>
        </ul>
      </div>
      <nav>
        <ul class="search-browse fixed-section" id="stickySection">
          <li>
            <form class="search" action="/game" method="get">
              <label for="search-developer"></label>
              <div class="search-input">
                <img src="../assets/search-icon.svg" alt="" />
                <input
                  type="text"
                  name="searchDeveloper"
                  id="search-developer"
                  placeholder="Search store"
                />
              </div>
              <!-- <button type="submit">Search </button> -->
            </form>
          </li>
          <div class="browse-genre">
            <li><a href="">Browse</a></li>
            <li><a href="">Genres</a></li>
            <li><a href="">Developers</a></li>
          </div>
          <div>
            <a href="/new-game" class="new-game"> Add Game </a>
          </div>
        </ul>
      </nav>
      <p class="heading"><%=genreId%> games</p>
      <div class="games">
        <%games.forEach((game)=>{%>
        <div>
          <form class="game-item" action="/delete-game" method="post">
            <input
              class="hidden"
              type="text"
              id="delete_title"
              name="delete_title"
              value="<%=game.title%>"
            />
            <a href="/game/<%=game.title%>/<%=game.id%>">
              <img class="game-img" src="<%=game.img_url%>" />
            </a>

            <p class="hidden"><%=game.id%></p>
            <div class="title-view">
              <div class="new-title">
                <p class="game-title"><%=game.title%></p>
                <p class="rating"><%=game.rating%>/10</p>
              </div>
              <a class="view-game" href="/game/<%=game.title%>/<%=game.id%>">
                View game
              </a>
            </div>
          </form>
        </div>
        <%})%>
      </div>
    </div>
    <script>
      const stickySection = document.getElementById("stickySection");
      const stickyOffset = stickySection.offsetTop;

      window.addEventListener("scroll", function () {
        if (window.pageYOffset > stickyOffset) {
          stickySection.classList.add("fixed");
        } else {
          stickySection.classList.remove("fixed");
        }
      });
    </script>
  </body>
</html>
