<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <%games.forEach((game)=>{%>
      <p>Game Title: <%=game.title%></p>
      <p>Release Date:<%=game.release_date%></p>
      <img src="<%=game.img_url%>" />
      <p>Rating:<%=game.rating%></p>
      <!-- <li><%=game.developer%></li> -->
      <%})%>
    </ul>
    <a href="/new-game">
      <button>Add Game</button>
    </a>
  </body>
</html>
