<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%games.forEach((game)=>{%>
    <li><%= game.name %></li>
    <li><%=game.year%></li>
    <li><%=game.img%></li>
    <li><%=game.year%></li>
    <li><%=game.year%></li>

    <%})%>
  </body>
</html>
